body
    margin: 0

.container
    height: 100vh
    margin: 0
    background-image: radial-gradient(circle at center top, white, grey)

.container, #recipe_submit, #recipe_submit label
    display: flex
    justify-content: center

.background
    min-width: 50vw
    min-height: 3rem
    background-color: rgba(182, 187, 196, 1)
    margin-top: 1rem

#recipe_submit, #recipe_submit label
    flex-flow: column nowrap
